body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    background-image: url('bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.content {
    position: relative;
    z-index: 2;
}

.text-wrapper {
    margin: 15%;
    display: flex;
    gap: 15px;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px black;
    height: 100px;
    align-items: center;
    cursor: pointer;
}

.text:hover {
    animation: text-shadow 1.5s ease-in-out;
    height: inherit;
    display: flex;
    align-items: center;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.counter {
    text-shadow: none;
    background: black;
    border-radius: 10px;
    line-height: 0.7;
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-family: 'Handjet', sans-serif;
    position: relative;
}

.btn-positive {
    color: #ffffff;
    background-color: #b996dd;
    border: none;
    border-radius: 50px;
    padding: 15px;
    background: rgb(247,150,192);
    background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    cursor: pointer;
}

.btn-positive span {
    font-weight: 600;
}

.btn-positive:hover {
    background: radial-gradient(circle, rgb(245 182 209) 0%, rgb(168 204 248) 100%);
}

.btn-negative {
    border: none;
    border-radius: 50px;
    padding: 15px;
    color: #ffffff;
    background: linear-gradient(0deg, rgb(91 85 76) 0%, rgb(14 14 14) 100%);
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    cursor: pointer;
}

.btn-negative:hover {
    background: linear-gradient(0deg, rgb(91 85 76) 0%, rgb(14 14 14) 50%);
}

.popup-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(255,255,255,0.5);
}

.popup {
    background: mistyrose;
    width: 80%;
    height: 80%;
    position: relative;
    z-index: 3;
    top: 10%;
    right: -10%;
    border-radius: 50px;
    box-shadow: -1px 3px 20px 0px black;
    box-sizing: border-box;
    padding: 40px;
}

.close-btn {
    position: relative;
    left: 97%;
    top: -20px;
    display: flex;
    border: none;
    background: transparent;
    cursor: pointer;
}

.close-btn svg {
    background: #ffffff;
    border-radius: 50%;
}

.close-btn svg:hover {
    fill: rgb(76, 76, 76);
}

.praise {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.congratulations {
    overflow-y: scroll;
    height: inherit;
}

.congratulations-img {
    width: 300px;
}